<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/styles.css")
        title Session and Auth Demo
    body
        nav.nav.nav-masthead.justify-content-center
            div
                a.nav-link(href='/') Home
            div
                a.nav-link(href='/login') Log In
                a.nav-link(href='/logout') Log Out
        block content
    footer
        p Footer
